<div class="container">
  <h1 class="row justify">Survey Visualization</h1>
  <nvd3 [options]="options" [data]="data"></nvd3>
  <nvd3 [options]="options2" [data]="data2"></nvd3>
  <nvd3 [options]="options3" [data]="data3"></nvd3>
  <p class="row justify">These three pie charts vizualize three key demographics for store owners to know. The first shows the genders of the customers. The second shows income categories (in brackets of 10k), and the third shows age categories(in brackets of 10 years). 
    This allows owners to accurately guage their customer base and to put out product accordingly.
  </p>
</div>
