<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>    
  //init side navigation bar via jquery
  $(document).ready(function () {
    $('.sidenav').sidenav();
  });
</script>

<nav>
  <div class="nav-wrapper blue darken-4">
    <a href="#!" class="brand-logo lrg">CTE Development</a>
    <a href="#!" class="brand-logo sm">CTE</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="home"><i class="material-icons left">home</i>Home</a>
      </li>
      <li>
        <a href="about"><i class="material-icons left">person</i>About</a>
      </li>
      <li>
        <a href="projects"><i class="material-icons left">code</i>Projects</a>
      </li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="slide-out">
  <li>
    <a href="home">
      <i class="material-icons">home</i>Home</a>
  </li>
  <li>
    <a href="about">
      <i class="material-icons left">person</i>About</a>
  </li>
  <li>
    <a href="projects">
      <i class="material-icons left">code</i>Projects</a>
  </li>
</ul>
